<div class="container">
  <div class="wrapper">
    <button
      mat-raised-button
      color="accent"
      (click)="changePage('resident/new')"
    >
      Moradores
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="changePage('vehicle/new')"
    >
      Veículos
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="changePage('visitor/new')"
    >
      Visitantes
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="changePage('employee/new')"
    >
      Funcionarios
    </button>
  </div>

  <div class="layout">
    <div class="img">
      <img src="./assets/imgs/NL.jpg" alt="New Life Condomínio" />
    </div>

    <form class="full-width" [formGroup]="residentForm">
      <div class="form">
        <div
          class="full-width"
          fxLayout="row"
          fxLayoutAlign="space-between"
          id="linha1"
        >
          <div fxFill appearance="outline" fxFlex="30%">
            <mat-label> Apartamento </mat-label>
            <select

              formControlName="idApartamento"
              id="idApartamento"
            >
            <option></option>
            </select>
          </div>

          <mat-form-field fxFill appearance="outline" fxFlex="65%">
            <mat-label> Morador </mat-label>
            <input
              matInput
              type="text"
              formControlName="morador"
              id="morador"
            />
          </mat-form-field>
        </div>
        <div
          class="full-width"
          fxLayout="row"
          fxLayoutAlign="space-between"
          id="linha2"
        >
          <mat-form-field fxFill appearance="outline" fxFlex="22.5%">
            <mat-label> RG </mat-label>
            <input
              matInput
              type="text"
              formControlName="rg"
              [textMask]="{ mask: rgMask }"
              id="rg"
            />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" fxFlex="22.5%">
            <mat-label> CPF </mat-label>
            <input
              formControlName="cpf"
              matInput
              id="cpf"
              [textMask]="{ mask: cpfMask }"
            />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" fxFlex="22.5%">
            <mat-label> Telefone 1 </mat-label>
            <input
              matInput
              type="text"
              formControlName="telefone1"
              [textMask]="{ mask: telefoneMask }"
              id="telefone1"
            />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" fxFlex="22.5%">
            <mat-label> Telefone 2 </mat-label>
            <input
              matInput
              type="text"
              formControlName="telefone2"
              [textMask]="{ mask: telefoneMask }"
              id="telefone2"
            />
          </mat-form-field>
        </div>

        <div class="full-width" fxLayout="row" id="linha3">
          <mat-form-field fxFill appearance="outline" fxFlex="70%">
            <mat-label> Email </mat-label>
            <input matInput type="text" formControlName="email" id="email" />
          </mat-form-field>
        </div>

        <div
          class="full-width"
          fxLayout="row"
          fxLayoutAlign="space-between"
          id="linha4"
        >
          <mat-form-field fxFill appearance="outline" fxFlex="70%">
            <mat-label> Contato Emergência </mat-label>
            <input
              matInput
              type="text"
              formControlName="contatoEmergencia"
              id="contatoEmergencia"
            />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" fxFlex="25%">
            <mat-label> Telefone </mat-label>
            <input
              matInput
              type="text"
              formControlName="telefoneEmergencia"
              [textMask]="{ mask: telefoneMask }"
              id="telefoneEmergencia"
            />
          </mat-form-field>
        </div>

        <div
          class="full-width"
          fxLayout="row"
          fxLayoutAlign="space-around center"
          id="linha5"
        >
          <mat-form-field fxFill appearance="outline" fxFlex="100%">
            <mat-label> Observações </mat-label>
            <input
              matInput
              type="text"
              formControlName="observacoes"
              id="observacoes"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="btns">
    <button mat-raised-button color="primary" routerLink="">Voltar</button>
    <button
      mat-raised-button
      color="primary"
      (click)="isEdit ? atualizar() : criar()"
      [disabled]="!residentForm.valid"
    >
      {{ isEdit ? "Atualizar" : "Salvar" }}
    </button>
  </div>
</div>
