<div class="container">
  <div class="wrapper">
    <button
      mat-raised-button
      color="primary"
      (click)="changePage('resident/details')"
    >
      Moradores
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="changePage('vehicle/details')"
    >
      Veículos
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="changePage('visitor/details')"
    >
      Visitantes
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="changePage('employee/details')"
    >
      Funcionarios
    </button>
  </div>

  <div class="layout">
    <div class="img">
      <img src="./assets/imgs/NL.jpg" alt="New Life Condomínio" />
    </div>

    <form class="full-width" [formGroup]="visitorForm">
      <div class="form">
        <div
          class="full-width"
          fxLayout="row"
          fxLayoutAlign="space-between"
          id="linha1"
        >
          <mat-form-field fxFill appearance="outline" fxFlex="30%">
            <mat-label> Apartamento </mat-label>
            <input
              matInput
              type="text"
              formControlName="idApartamento"
              id="idApartamento"
            />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" fxFlex="65%">
            <mat-label> Visitante </mat-label>
            <input
              matInput
              type="text"
              formControlName="visitante"
              id="visitante"
            />
          </mat-form-field>
        </div>
        <div
          class="full-width"
          fxLayout="row"
          fxLayoutAlign="space-between"
          id="linha2"
        >
          <mat-form-field fxFill appearance="outline" fxFlex="22.5%">
            <mat-label> RG </mat-label>
            <input matInput type="text" formControlName="rg" id="rg" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" fxFlex="22.5%">
            <mat-label> CPF </mat-label>
            <input matInput type="text" formControlName="cpf" id="cpf" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" fxFlex="22.5%">
            <mat-label> Telefone 1 </mat-label>
            <input
              matInput
              type="text"
              formControlName="telefone1"
              id="telefone1"
            />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" fxFlex="22.5%">
            <mat-label> Telefone 2 </mat-label>
            <input
              matInput
              type="text"
              formControlName="telefone2"
              id="telefone2"
            />
          </mat-form-field>
        </div>

        <div
          class="full-width"
          fxLayout="row"
          fxLayoutAlign="space-around center"
          id="linha3"
        >
          <mat-form-field fxFill appearance="outline" fxFlex="100%">
            <mat-label> Observações </mat-label>
            <input
              matInput
              type="text"
              formControlName="observacoes"
              id="observacoes"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="btns">
    <button mat-raised-button color="primary" routerLink="">Voltar</button>
    <button
      mat-raised-button
      color="primary"
      (click)="salvar()"
      [disabled]="!visitorForm.valid"
    >
      Salvar
    </button>
  </div>
</div>
