<div
  class="background"
  fxLayout="row"
  fxFlex="100"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center center" class="login-container">
    <div
      fxFlex="85"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      class="big"
    >
      <div class="title-wrapper">
        <h1>iService</h1>
        <mat-icon>info</mat-icon>
      </div>

      <div class="content-wrapper">
        <div>
          <h2>Falta pouco para localizar seu <br>Serviço ideal!</h2>
          <h3>Como deseja continuar?</h3>
        </div>
        <div class="login-buttons">
            <button mat-raised-button routerLink="login/pF">Pessoa Física</button>
            <button mat-raised-button routerLink="login/pJ">Pessoa Jurídica</button>
        </div>
      </div>

      <div class="content-wrapper">
        <div>
          <h2>Ainda não possui sua conta?</h2>
          <h3>Crie agora mesmo!</h3>
        </div>
        <div class="login-buttons">
          <button mat-raised-button routerLink="pF/new">Pessoa Física</button>
          <button mat-raised-button routerLink="pJ/new">Pessoa Jurídica</button>
        </div>
      </div>

    </div>
  </div>
  <div class="login-admin">
    <button routerLink="login/admin">
      <span class="material-symbols-outlined">
        settings
        </span>
    </button>
  </div>
</div>
