* {
  box-sizing: border-box;
}

.background {
  background: url(https://cedem.com.br/2017/wp-content/uploads/2019/06/Background-site-04.jpg);
  position: relative;

  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  */

  /* width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden; */

  height: calc(100vh - 64.5px); // Estende a coloração do fundo
  width: 100vw; // Estende a coloração do fundo

  position: relative;
}

.content-wrapper button {
  background-image: linear-gradient(to right, #1363DF, #06283D);
  color: white;
}

.big {
  width: 30vw;
}

.login-container {
  background-color: white;
  padding-bottom: 40px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.title-wrapper {
  display: flex;
  color: white;

  align-items: center;
  gap: 10px;

  width: 30vw;

  background-image: linear-gradient(to right, #1363DF, #06283D);
  padding-block: 60px;

  justify-content: center;
}

.subtitle-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding-inline: 20px;
}

h2 {
  text-align: center;
  font-size: 25px;
  margin: 0;
}

h3 {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-buttons button {
  font-size: 20px;
}

.login-admin {
  position: absolute;
  top: calc(100vh - 150px);
  left: 40px;
}

.login-admin button {
  background: none;
  border: none;
  cursor: pointer;
}

.material-symbols-outlined {
  color: linear-gradient(to right, #1363DF, #06283D);
  font-size: 45px;
}
